<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <style>
            .button {
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              background-color: #4CAF50;
            }
        </style>
    </head>
    <body>

        <h1>Master Table Automation</h1>

		<a href="/app/addMasterTable">
             <button class="button">Add Master-Table </button>
        </a>
        <a href="/app/masterTableList">
            <button class="button">Show All Tables List</button>
        </a>
    </body>
</html>